# Backend environment variables for Firebase Admin

PORT=5000

#Firebase Admin credentials
FIREBASE_ADMIN_PROJECT_ID=church-central-992a7
FIREBASE_ADMIN_CLIENT_EMAIL=firebase-adminsdk-fbsvc@church-central-992a7.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nplaceholder-private-key\n-----END PRIVATE KEY-----\n"

